// General settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$desktop-max-width: 1390px;
$desktop-min-width: 980px;
$tablet-width: 780px;
$mobile-width: 480px;
$mobile-min-width: 320px;
$spacing: 20px;
$radius: 5px;

// z-index layers
$zindex-modal: 9;
$zindex-loader: 10;


// Colors :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Green scale
$green: #4CAF50;
$green-light: #C8E6C9;

// Blue scale
$blue-darkest: #3B5998;
$blue-dark: #1976D2;
$blue: #2196F3;
$blue-light: #E3F2FD;

// Yellow scale
$yellow: #FFD835;
$yellow-light: #FFF9C4;

// Orange scale
$orange: #FF9800;

// Red scale
$red-dark: #DD4B39;
$red: #F44336;
$red-light: #FFCDD2;

// Gray scale
$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #CCC;
$gray-lighter: #F5F5F5;
$white: #FFF;
$black: #000;

// Social Colors
$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$googleplus-color: #DC4E41;

// Outline
$outline-color: #55C4F7;

// Alert colors
$alert-info: $blue-light;
$alert-success: $green-light;
$alert-warn: $yellow-light;
$alert-error: $red-light;


// Typography ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$font-family: 'Roboto', sans-serif;
$font-color: $gray-dark;
$font-size: 16px;


// Forms ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$field-size: 50px;


