// Global element configs :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
* {
  // font-family: $font-family;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline-color: $outline-color;
  outline-offset: 2px;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(#000, 0);
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  background: $gray-lighter;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $orange;
    text-decoration: none;
  }
}

::placeholder {
  color: $gray-light;
}

fieldset {
  border-radius: $radius;
}

input {
  &:not([type='radio']),
  &:not([type='checkbox']) {
    outline: none;

    &:hover,
    &:focus {
      border-color: $outline-color;
    }
  }
}

button {
  &[class*='wm-icon-'] {
    background: initial;
    border: initial;
  }
}
